body{
    background-color: antiquewhite;
}
.navbar{
    background-color: rgb(237, 187, 80);
    color: white;
    padding: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;

}

.nav{
    color: white;
    font-size: 30px;
}

#onpage{
    color: rgb(246, 216, 179);
    text-decoration: underline rgb(246, 216, 179);
}

img{
    height: 400px;
    width: 400px;
}

.bundle_img{
    height: 200px;
    width: 200px;
}

li{
    font-size: 25px;
    color:chocolate
}